<div class='landing_page'>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class='logo' src="<%= asset_path( 'ameliable.png' ) %>">
          </a>
        </div>


	<div id="headerwrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h1>Keep track of your daily accomplishments with a simple email</h1>
						<form class="form-inline" role="form">
						  <div class="form-group">
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
						  </div>
						  <button type="submit" class="btn btn-success btn-lg">Join our open beta!</button>
						</form>					
					</div><!-- /col-lg-6 -->
					<div class="col-lg-6">
						<img class="img-responsive" src='<%= image_path("product_screenshot.png") %>' alt="">
					</div><!-- /col-lg-6 -->
					
				</div><!-- /row -->
			</div><!-- /container -->
		</div><!-- /headerwrap -->
		
		
		<div class="container">
			<div class="row mt centered">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>Observe Your Growth As a Professional</h1>
					<h3>Stop trying to remember accomplishments and wins right before performance reviews. Understand and monitor your professional and personal progress through regular journal entries</h3>
				</div>
			</div><!-- /row -->
			
			<div class="row mt centered">
				<div class="col-lg-4">
					<img src="<%= image_path("briefcase.png") %>" width="180" alt="">
					<h2>1 - Get Shit Done</h2>
					<h4>This one is all you! Make moves, take risks, learn somthing. Whatever you're doing, do it well!</h4>
				</div><!--/col-lg-4 -->

				<div class="col-lg-4">
					<img src="<%= image_path("email.png") %>" width="180" alt="">
					<h2>2 - Send Your Thoughts</h2>
					<h4>Whenever you feel like it, send a quick email to 'app_name' about what you're up to. Don't worry if you forget, we'll remind you if you're slacking.</h4>

				</div><!--/col-lg-4 -->

				<div class="col-lg-4">
					<img src="<%= image_path("trends.png") %>" width="180" alt="">
					<h2>3 - Review Your Progress</h2>
					<h4>After some time, you'll have enough entries to really see what you've been up to and evaluate if you're really acheiving your goals!</h4>

				</div><!--/col-lg-4 -->
			</div><!-- /row -->
		</div><!-- /container -->
		
		<div class="container">
			<!-- <hr> -->
			<div class="row centered">
				<div class="col-lg-6 col-lg-offset-3">
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
					  </div>
					  <button type="submit" class="btn btn-success btn-lg">Join our open beta!</button>
					</form>					
				</div>
				<div class="col-lg-3"></div>
			</div><!-- /row -->
			
		</div><!-- /container -->
		
			<hr>
			<span>Copyright 2015</span>
		</div>
</div>
